.masonryGrid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-left: -16px;
	width: auto;
}

.masonryGridColumn {
	padding-left: 16px;
	background-clip: padding-box;
}

.masonryGridColumn > div {
	margin-bottom: 16px;
}
